@font-face {
   font-family: '5d0b4d570275e1561021783';
   font-display: swap;
   src: url('file:///Users/apple/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-25_202401/fonts/5d0b4d570275e1561021783/font.ttf');
}
